body{
    cursor: none;
}
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgb(135, 34, 194);
    pointer-events: none;
    box-shadow: 0 0 20px purple,
    0 0 20px rgb(0, 119, 255),
    0 0 100px rgb(0, 255, 255);
    animation: cursorAnimate 0s  infinite;
    transform: translate(-50%, -50%);
    display: none;
    transition: 0s;
}
@keyframes cursorAnimate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.cursor::before{
    content: '';
    position: absolute;
    background-color:currentColor;
    opacity: 0.2;
    width: 100px;
    height: 100px;
    transition: 0s;
    transform: translate(-40%, -40%);
    border-radius: 50%;
}